/*
 universal selector
*/
.lamis{
  background-color: red;
  
}
* {
    margin: 0%;
}
header {
  background-color:#ead3cb; 
}

header h1 {
  color: #845460;
  text-align:center;
}

header nav ul li{
  display: inline-block;
  margin-left: 40px;
  font-size: large;
  padding-top: 30px;

}

header nav ul li a{
    color: #845460;

    text-decoration: none;
}
/* # the name of the ID */
#first{
  background: #845460;
  height: 200px;
  text-align: center;
  color: #ead3cb;
  padding-top: 50px;
  font-size:x-large;
  margin-top:10px;
}
/* . the name of the class */
.same{
 float: left;
 margin-left: 8%;
}
.same h3{
  text-align: center;
  color: #845460;
}




footer{
  clear: both;
  background-color: #845460;
  height: 100px;
  text-align: center;
  color: #ead3cb;
  padding-top:20px;
}